affine==2.3.1; python_version >= "3.8"
argcomplete==1.12.3; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
asciitree==0.3.3; python_version >= "3.8" and python_version < "4"
astunparse==1.6.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6" and python_version < "3.9"
atomicwrites==1.4.1; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6") or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
attrs==21.4.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.8"
black==22.6.0; python_full_version >= "3.6.2"
bottleneck==1.3.5; python_version >= "3.8"
certifi==2022.6.15; python_version >= "3.8" and python_version < "4"
cftime==1.6.1; python_version >= "3.8" and python_version < "4.0"
charset-normalizer==2.1.0; python_version >= "3.8" and python_version < "4" and python_full_version >= "3.6.0"
click-plugins==1.1.1; python_version >= "3.8"
click==8.1.3; python_version >= "3.8" and python_full_version >= "3.6.2" and python_version < "4.0" and (python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version < "4" and python_version >= "3.8")
cligj==0.7.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version < "4" and python_version >= "3.8"
cloudpickle==2.1.0; python_version >= "3.8"
colorama==0.4.5; sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.6.2" and python_full_version < "4.0.0" and platform_system == "Windows" and (python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6") or sys_platform == "win32" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6") and python_full_version >= "3.5.0")
commitizen==2.28.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
coverage==6.4.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
cycler==0.11.0; python_version >= "3.7"
dask==2022.7.0; python_version >= "3.8"
decli==0.5.2; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6"
devtools==0.6.1; python_version >= "3.6"
entrypoints==0.4; python_version >= "3.8"
et-xmlfile==1.1.0; python_version >= "3.8"
fasteners==0.17.3; python_version >= "3.8" and python_version < "4"
fiona==1.8.21; python_version >= "3.8"
flake8==3.9.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
fonttools==4.34.4; python_version >= "3.7"
fsspec==2022.5.0; python_version >= "3.8"
gdal==3.5.1; python_full_version >= "3.6.0" and python_version >= "3.8"
geopandas==0.11.0; python_version >= "3.8"
ghp-import==2.1.0; python_version >= "3.8" and python_version < "4.0"
hydrolib-core==0.2.1; python_version >= "3.8" and python_version < "4.0"
hydromt==0.4.5; python_version >= "3.8"
idna==3.3; python_version >= "3.8" and python_version < "4"
importlib-metadata==4.12.0; python_version < "3.10" and python_version >= "3.8"
iniconfig==1.1.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
isort==5.10.1; python_full_version >= "3.6.1" and python_version < "4.0"
jinja2==3.1.2; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.2" and python_full_version < "4.0.0"
kiwisolver==1.4.4; python_version >= "3.7"
llvmlite==0.38.1; python_version >= "3.8" and python_version < "3.11"
locket==1.0.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
lxml==4.9.1; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.5.0"
markdown==3.3.7; python_version >= "3.8" and python_version < "4.0"
markupsafe==2.1.1; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.2" and python_full_version < "4.0.0"
matplotlib==3.5.2; python_version >= "3.7"
mccabe==0.6.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
mergedeep==1.3.4; python_version >= "3.8" and python_version < "4.0"
meshkernel==1.0.0; python_version >= "3.8" and python_version < "4.0"
mkdocs-autorefs==0.1.1; python_version >= "3.6" and python_version < "4.0"
mkdocs-macros-plugin==0.6.4; python_version >= "3.8" and python_version < "4.0"
mkdocs-material-extensions==1.0.3; python_version >= "3.6"
mkdocs-material==7.3.0
mkdocs==1.3.1; python_version >= "3.6"
mkdocstrings==0.15.2; python_version >= "3.6" and python_version < "4.0"
munch==2.5.0; python_version >= "3.8"
mypy-extensions==0.4.3; python_full_version >= "3.6.2" and python_version >= "3.5"
mypy==0.910; python_version >= "3.5"
netcdf4==1.5.7; python_version >= "3.8" and python_version < "4.0"
numba==0.55.2; python_version >= "3.8" and python_version < "3.11"
numcodecs==0.10.0; python_version >= "3.8" and python_version < "4"
numpy==1.22.4
openpyxl==3.0.10; python_version >= "3.8"
packaging==21.3; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.8" and python_version < "4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
pandas==1.4.3; python_version >= "3.8"
partd==1.2.0; python_version >= "3.8"
pathspec==0.9.0; python_full_version >= "3.6.2"
pillow==9.2.0; python_version >= "3.7"
platformdirs==2.5.2; python_version >= "3.7" and python_full_version >= "3.6.2"
pluggy==1.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
poetry-semver==0.1.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.4.0"
poetry2conda==0.3.0; python_version >= "3.6" and python_version < "4.0"
prompt-toolkit==3.0.30; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.2" and python_full_version < "4.0.0"
py==1.11.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pycodestyle==2.7.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pydantic==1.8.2; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1"
pyflakes==2.3.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pyflwdir==0.5.5; python_version >= "3.8"
pygeos==0.12.0; python_version >= "3.8"
pygments==2.12.0; python_version >= "3.6"
pymdown-extensions==8.2; python_version >= "3.6"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.8" and python_full_version < "4.0.0"
pyproj==3.3.1; python_version >= "3.8"
pytest-cov==2.12.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
pytest==6.2.5; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.3.0" and python_version >= "3.8" and python_version < "4.0"
python-dotenv==0.20.0; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1"
pytkdocs==0.11.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6" and python_version < "4.0"
pytz==2022.1; python_version >= "3.8"
pyyaml-env-tag==0.1; python_version >= "3.8" and python_version < "4.0"
pyyaml==6.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.8" and python_version < "4.0"
questionary==1.10.0; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.2" and python_full_version < "4.0.0"
rasterio==1.3.0; python_version >= "3.8"
requests==2.28.1; python_version >= "3.8" and python_version < "4"
scipy==1.8.1; python_version >= "3.8" and python_version < "3.11"
setuptools-scm==7.0.5; python_version >= "3.7"
shapely==1.8.2; python_version >= "3.6"
six==1.16.0; python_full_version >= "3.6.1" and python_version >= "3.8" and python_full_version < "4.0.0" and python_version < "3.9"
snuggs==1.4.7; python_version >= "3.8"
termcolor==1.1.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.8" and python_version < "4.0"
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version >= "3.6" and python_version < "4.0"
tomli==2.0.1; python_full_version < "3.11.0a7" and python_full_version >= "3.6.2" and python_version >= "3.7"
tomlkit==0.11.1; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.2" and python_full_version < "4.0.0"
toolz==0.12.0; python_version >= "3.8"
typing-extensions==4.3.0; python_version < "3.10" and python_full_version >= "3.6.2" and python_version >= "3.8" and python_full_version < "4.0.0"
urllib3==1.26.10; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.8"
watchdog==2.1.9; python_version >= "3.8" and python_version < "4.0"
wcwidth==0.2.5; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.2" and python_full_version < "4.0.0"
xarray==0.17.0; python_version >= "3.7"
zarr==2.12.0; python_version >= "3.8" and python_version < "4"
zipp==3.8.1; python_version >= "3.7"
