name: docs
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - run: pip install mkdocs-material mkdocstrings mkdocstrings-python pymdown-extensions mkdocs-jupyter mkdocs-autorefs mkdocs-macros-plugin mkdocs-material-extensions mkdocs-monorepo-plugin 
      - run: mkdocs gh-deploy --force
